
.content {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
.firstpage {
  align-items: left;
  float: center;
}
.companyNames {
  background-color: rgb(182, 176, 176);
}

.input {
  width: 40%;
  display: flex;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
}
.list {
  width: 50%;
  margin-bottom: 3%;
}
.listItem {
  float: center;
}
