.container {
  float: center;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  min-width: 100vh;
}
.content {
  min-height: 70vh;
  margin-top: 10vh;
  float: center;
}
.firstpage {
  align-items: center;
  float: center;
}
