.container {
  float: center;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  min-width: 100vh;
  display: block;
}
.content {
  min-height: 70vh;
  margin-top: 10vh;
  float: center;
  display: block;
  margin-left: 400px;
  margin-right: 400px;
}
.firstpage {
  align-items: left;
  float: center;
}
.companyNames {
  background-color: rgb(182, 176, 176);
}
